#formContainer {
    position: relative; 
    background-color: white;
    border-radius: 15px; 
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
}

