@import '../node_modules/bootstrap/scss/bootstrap.scss'

$background-color: white;
$border-radius: 15px;
$padding: 20px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$backdrop-blur: 10px;
$backdrop-saturate: 180%;
$gradient-start: #f06;
$gradient-end: #aaf;